.code {
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&_input {
		width: 20rem;
		height: 3rem;
		border-radius: 10px;
		border: 3px solid $primary-color;
		text-align: center;
		font-size: 1.5rem;
		font-weight: bold;
		margin: 0.4rem;
	}
	a {
		font-size: 1.2rem;
		color: $secondary-color;
		text-decoration: none;
		padding: 5px;
		border-radius: 10px;
	}
}
