.full-bottom {
	h3 {
		text-align: center;
		color: $primary-color;
		font-size: 2rem;
		text-decoration: underline;
		margin: 1rem;
	}
	.bottom {
		display: flex;
		flex-wrap: wrap;
		padding: 2rem;
		justify-content: center;

		&_item {
			width: 31%;
			margin: 0.2rem;
			padding: 0.5rem;
			display: flex;
			align-items: center;

			img {
				width: 80%;
			}
			&_text {
				color: $primary-color;
				font-size: 1.2rem;
				width: 80%;
				align-items: center;

				h4 {
					font-size: 1.3rem;
					margin: 0.5rem 0;
				}
			}
		}
	}
}
