.full-card {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	.heading {
		margin-bottom: 2rem;
		color: $primary-color;
		height: 3.3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h5 {
			color: $secondary-color;
		}
	}
	.card-area {
		display: flex;
		justify-content: center;
		.card {
			width: 16%;
			border-radius: 25px;
			padding: 2rem 1rem;
			margin: 1rem;
			height: 24rem;
			box-shadow: 5px 5px 8px 8px rgb(238, 238, 238);
			.card-logo {
				img {
					width: 12rem;
				}
			}
			.title {
				padding: 1rem;
				font-size: 1.7rem;
			}
			.middle {
				font-size: 1.1rem;
				height: 8.5rem;
			}
			.bottom {
				margin: 1rem;
				.subtext {
					color: $secondary-color;
				}
				.tag {
					margin: 0.5rem;
					margin-bottom: 1rem;
					font-size: 1.2rem;
				}
				a {
					text-decoration: none;
					color: rgb(0, 176, 185);
				}
			}
		}
	}
}
