$primary-color: #471b4f;
$secondary-color: #f1af2a;
$tertiary-color: #193947;
$nav-size: 60px;
$speed: 500ms;

h3 {
	font-size: 1.7rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

@mixin media-sm {
	@media screen and (max-width: 768px) {
		@content;
	}
}
@mixin media-md {
	@media screen and (max-width: 1024px) {
		@content;
	}
}
