@include media-sm {
	.footer {
		flex-direction: column;
		width: 100%;
		align-items: center;
		&_sec {
			padding: 1rem;

			width: 90%;
			&.about {
				align-items: center;
				width: 90%;
				padding: 0.8rem;
				p {
					width: 90%;
				}
			}
		}
	}
	.footer_extension {
		width: 100%;
		flex-direction: column-reverse;
		padding: 0;
		align-items: center;
		justify-content: space-evenly;
		height: 8vh;
		p {
			font-size: 0.9rem;
		}
		&_row {
			width: 100%;
			justify-content: center;
		}
	}
	.full-card {
		.card-area {
			height: 70vh;
			align-items: center;
			.fa-caret-left {
				position: absolute;
				left: -2%;
				transform: scale(0.5);
			}
			.fa-caret-right {
				position: absolute;
				right: -2%;
				transform: scale(0.5);
			}
			.card {
				display: none;
				&.viewing {
					width: 80%;
					height: 90%;
					z-index: -1;
					display: initial;
					transform: scale(1);
				}
			}
		}
	}
	.code {
		input {
			width: 80%;
		}
	}
	.full-bottom {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;

		.bottom {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0;
			width: 95%;
			&_item {
				width: 90%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				img {
					display: none;
				}
			}
		}
		.special {
			display: none;
		}
	}
	.fulltop {
		.top {
			flex-direction: column;

			&_item {
				width: 90%;

				flex-direction: column;
				text-align: center;
			}
		}
	}
	.header {
		width: 100%;
		padding: 0.4rem 0;
		img {
			width: 75%;
			padding: 0;
		}
	}
	.navbar {
		.navbar-nav {
			z-index: 12;
			background-color: white;
			.nav-links {
				display: none;
			}
			.nav-item {
				display: initial;
				padding: 1rem;
				font-size: 30px;
			}
			.dropdown {
				height: 100vh;
				background: radial-gradient(
					rgba(white, 0),
					rgba(white, 0.2),
					rgba(white, 0.5),
					rgba(white, 0.7),
					rgba(white, 1)
				);
				max-width: 16rem;
				position: absolute;
				top: 3.9rem;
				right: 0rem;
				animation-name: slide;
				animation-duration: 0.5s;

				.nav-menu {
					height: 20rem;
					display: flex;
					flex-direction: column;
					a {
						border-bottom: 2px solid $primary-color;
						text-decoration: none;
						color: $primary-color;
						i {
							font-size: 1.4rem;
						}
						.nav-button {
							padding-right: 0.4rem;
						}
						.nav-right {
							padding-left: 0.5rem;
						}
					}
				}
			}
		}
	}
}
